@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body,
ul {
    margin: 0;
    padding: 0;
}

/* Main styles */
body {
    font-family: Arial, sans-serif;
    background-color: white;
}

header {
    padding: 20px;
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav a {
    color: rgb(67, 67, 67);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

.content {
    padding: 20px;
}

.hamburger {
    display: none;
}

.responsive-menu {
    display: none;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }

    .lineBreak {
        flex-basis: 100%;
        height: 0;
    }

    .logo {
        margin-bottom: 0;
    }

    .hamburger {
        display: block;
        background-color: white;
        padding: 10px;
        color: black;
        text-align: center;
        cursor: pointer;
        font-size: 30px;
    }


    .responsive-menu {
        display: none;
        flex-direction: column;
        background-color: white;
        padding: 10px;
        color: black;
        animation: hamburguerAnim 0.1s ease-in-out forwards;
    }

    @keyframes hamburguerAnim {
        0% {
            transform: translateY(-50%);
        }

        100% {
            transform: translateY(0);
        }
    }

    .responsive-menu a {
        color: rgb(67, 67, 67);
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 10px;
        display: block;
        text-align: center;

    }
}